In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/Churn_Modelling.csv")

In [ ]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [ ]:
geo=data.pop("Geography")
gender=data.pop("Gender")

In [ ]:
LE=LabelEncoder()
geo=LE.fit_transform(geo)

In [ ]:
geo

array([0, 2, 0, ..., 0, 1, 0])

In [ ]:
ohe=OneHotEncoder()
geo=ohe.fit_transform(geo.reshape(-1,1)).toarray()

In [ ]:
geo

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [ ]:
LE=LabelEncoder()
gender=LE.fit_transform(gender)
ohe=OneHotEncoder()
gender=ohe.fit_transform(gender.reshape(-1,1)).toarray()

In [ ]:
geo=pd.DataFrame(geo)
gender=pd.DataFrame(gender)
processed_data=pd.concat([data,geo,gender],axis=1)

In [ ]:
processed_data.head()

   CreditScore  Age  Tenure    Balance  ...    0    1    2    0
0          619   42       2       0.00  ...  1.0  0.0  0.0  1.0
1          608   41       1   83807.86  ...  0.0  0.0  1.0  1.0
2          502   42       8  159660.80  ...  1.0  0.0  0.0  1.0
3          699   39       1       0.00  ...  1.0  0.0  0.0  1.0
4          850   43       2  125510.82  ...  0.0  0.0  1.0  1.0

[5 rows x 12 columns]

In [ ]:
processed_data=processed_data.iloc[:,3:-1]

In [ ]:
y=processed_data.pop("Exited")

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(processed_data, y, test_size=0.33)

In [ ]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
model=Sequential()
model.add(Dense(12,activation="relu"))
model.add(Dense(24,activation="relu"))
model.add(Dense(24,activation="relu"))
model.add(Dense(24,activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="adam", loss="binary_crossentropy")
model.fit(x_train,y_train, epochs=50, batch_size=20)

Epoch 1/50
335/335 [==============================] - 1s 1ms/step - loss: 206.9699
Epoch 2/50
335/335 [==============================] - 1s 1ms/step - loss: 58.0452
Epoch 3/50
335/335 [==============================] - 1s 2ms/step - loss: 39.5993
Epoch 4/50
335/335 [==============================] - 1s 2ms/step - loss: 37.1771
Epoch 5/50
335/335 [==============================] - 1s 1ms/step - loss: 43.7725
Epoch 6/50
335/335 [==============================] - 1s 2ms/step - loss: 37.4704
Epoch 7/50
335/335 [==============================] - 1s 2ms/step - loss: 29.8492
Epoch 8/50
335/335 [==============================] - 1s 2ms/step - loss: 27.2025
Epoch 9/50
335/335 [==============================] - 1s 2ms/step - loss: 22.2483
Epoch 10/50
335/335 [==============================] - 1s 1ms/step - loss: 20.6925
Epoch 11/50
335/335 [==============================] - 1s 1ms/step - loss: 24.1222
Epoch 12/50
335/335 [==============================] - 0s 1ms/step - loss: 24.7165
Epoch 13/50
335/335 [==============================] - 1s 2ms/step - loss: 15.3071
Epoch 14/50
335/335 [==============================] - 0s 1ms/step - loss: 14.1364
Epoch 15/50
335/335 [==============================] - 0s 1ms/step - loss: 13.4286
Epoch 16/50
335/335 [==============================] - 0s 1ms/step - loss: 10.7471
Epoch 17/50
335/335 [==============================] - 1s 2ms/step - loss: 11.4308
Epoch 18/50
335/335 [==============================] - 1s 2ms/step - loss: 9.7381
Epoch 19/50
335/335 [==============================] - 1s 1ms/step - loss: 7.7449
Epoch 20/50
335/335 [==============================] - 1s 2ms/step - loss: 6.2881
Epoch 21/50
335/335 [==============================] - 1s 2ms/step - loss: 7.4038
Epoch 22/50
335/335 [==============================] - 1s 1ms/step - loss: 6.7457
Epoch 23/50
335/335 [==============================] - 1s 2ms/step - loss: 5.9216
Epoch 24/50
335/335 [==============================] - 0s 1ms/step - loss: 4.8761
Epoch 25/50
335/335 [==============================] - 0s 1ms/step - loss: 4.7320
Epoch 26/50
335/335 [==============================] - 1s 2ms/step - loss: 3.9581
Epoch 27/50
335/335 [==============================] - 1s 2ms/step - loss: 3.3594
Epoch 28/50
335/335 [==============================] - 1s 2ms/step - loss: 2.7045
Epoch 29/50
335/335 [==============================] - 1s 2ms/step - loss: 2.3010
Epoch 30/50
335/335 [==============================] - 1s 1ms/step - loss: 2.1319
Epoch 31/50
335/335 [==============================] - 1s 2ms/step - loss: 1.6536
Epoch 32/50
335/335 [==============================] - 0s 1ms/step - loss: 1.5044
Epoch 33/50
335/335 [==============================] - 1s 2ms/step - loss: 1.0462
Epoch 34/50
335/335 [==============================] - 1s 1ms/step - loss: 1.6611
Epoch 35/50
335/335 [==============================] - 1s 2ms/step - loss: 1.1208
Epoch 36/50
335/335 [==============================] - 1s 2ms/step - loss: 0.9251
Epoch 37/50
335/335 [==============================] - 1s 2ms/step - loss: 0.9189
Epoch 38/50
335/335 [==============================] - 1s 1ms/step - loss: 0.6809
Epoch 39/50
335/335 [==============================] - 1s 2ms/step - loss: 0.5916
Epoch 40/50
335/335 [==============================] - 1s 2ms/step - loss: 0.7856
Epoch 41/50
335/335 [==============================] - 0s 1ms/step - loss: 0.5830
Epoch 42/50
335/335 [==============================] - 0s 1ms/step - loss: 0.5599
Epoch 43/50
335/335 [==============================] - 1s 2ms/step - loss: 0.7006
Epoch 44/50
335/335 [==============================] - 1s 1ms/step - loss: 1.3663
Epoch 45/50
335/335 [==============================] - 1s 2ms/step - loss: 0.6316
Epoch 46/50
335/335 [==============================] - 1s 2ms/step - loss: 0.6412
Epoch 47/50
335/335 [==============================] - 1s 2ms/step - loss: 0.6548
Epoch 48/50
335/335 [==============================] - 1s 2ms/step - loss: 0.5545
Epoch 49/50
335/335 [==============================] - 0s 1ms/step - loss: 0.5674
Epoch 50/50
335/335 [==============================] - 1s 2ms/step - loss: 0.5546

In [ ]:
prediction=model.predict(x_test)
from sklearn.metrics import confusion_matrix, accuracy_score
prediction[prediction>0.5]=1
prediction[prediction<=0.5]=0
confusion_matrix(y_test,prediction)
accuracy_score(y_test,prediction)

0.8015151515151515

In [ ]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)

In [ ]:
x_train.columns = [1,2,3,4,5,6,7,8,9,10,11,12]
x_test.columns = [1,2,3,4,5,6,7,8,9,10,11,12]

import xgboost as xgb
classifier=xgb.XGBClassifier()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
confusion_matrix(y_test,y_pred)
accuracy_score(y_test,y_pred)

0.8654545454545455

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=15)
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
confusion_matrix(y_test,y_pred)
accuracy_score(y_test,y_pred)

0.7978787878787879